<div class="test">
  <h3>Day la component Home</h3>
  <br>
  <input type="text" [(ngModel)]="name">
  <h3>Chao ban {{ name}}</h3>

  <button (click)="resetName()">Reset Name</button>
  <br>
  <input type="text" [(ngModel)]="age">
  <h3>Tuoi cua ban la: {{age}}</h3>
  <!--  <h2 *ngIf="age<=18">Ban con tre qua</h2>-->
  <!--  <h2 *ngIf="age>18">Ban da gia roi!!</h2>-->

  <div *ngIf="age<=18; then tre; else gia"></div>
  <ng-template #tre><h2>Ban con tre qua</h2></ng-template>
  <ng-template #gia><h2>Ban da gia roi!!</h2></ng-template>



</div>

